Package: my-config
Version: 0.4
Section: misc
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <xundeenergie@gmail.com>
Homepage: http://github.com/xundeenergie/my-config
Provides: my-config
Depends: 
Description: My configurations 
 Special configurations for this and that around in linux, for jakob schürz
